@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.myfooter{
  padding-bottom: env(safe-area-inset-bottom);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-size: 16px;
  
}
h1{
  font-size: 42px;
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2{
  font-size:26px;
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3{
  font-size:16px;
  font-family: "oswald", sans-serif;
  font-weight: 500;
  font-style: bold;
  padding-bottom: 2px;
  border-bottom: solid;
  border-bottom-width: 0.5;
}
h4{
  font-size:14.05px ;
  font-family: "oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: teal;
}
h5{
  font-size: 10.5px;
  font-family: "oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h6{
  font-size: 8.42px;
  font-family: "oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
}
li{
  font-size: 16px;
  font-family: "sauna-new", sans-serif;
  font-weight: 400;
  font-style: normal;
}
ol{
  font-size: 26px;
  font-family: "sauna-new", sans-serif;
  font-weight: 400;
  font-style: normal;
}
ul{
  font-size: 26px;
  font-family: "sauna-new", sans-serif;
  font-weight: 400;
  font-style: normal;
}